:root {
    --color-purple: #e73978;    
    --color-blue-light: #77abf6;
    --background-color-body: #f7f7f7; /* Background color of the Body */
    --background-color-content: white; /* Background of the content */
}